@charset "utf-8";

/* font */
@font-face {
    font-family: 'NotoSansKR-Light';
    src: url(../../font/NotoSansKR-Light.otf);
    font-weight: 200;
}
@font-face {
    font-family: 'NotoSansKR-Light';
    src: url(../../font/NotoSansKR-Regular.otf);
    font-weight: 300;
}
@font-face {
    font-family: 'NotoSansKR-Light';
    src: url(../../font/NotoSansKR-Medium.otf);
    font-weight: 400;
}
@font-face {
    font-family: 'NotoSansKR-Light';
    src: url(../../font/NotoSansKR-Bold.otf);
    font-weight: 500;
}
@font-face {
    font-family: 'NotoSansKR-Light';
    src: url(../../font/NotoSansKR-Black.otf);
    font-weight: 600;
}

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: 'NotoSansKR-Regular','NotoSansKR-Light','NotoSansKR-Medium','NotoSansKR-Bold','NotoSansKR-Black';
    font-weight: 200;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
	display: block;
}
input, button, select, option, textarea {
	font-family: 'NotoSansKR-Regular','NotoSansKR-Light','NotoSansKR-Medium','NotoSansKR-Bold','NotoSansKR-Black' !important;
    font-weight: 200;
}
input::placeholder,
textarea::placeholder {
	color: #ddd !important;
	font-family: 'NotoSansKR-Regular','NotoSansKR-Light','NotoSansKR-Medium','NotoSansKR-Bold','NotoSansKR-Black' !important;
	font-weight: 200 !important;
}
input::-webkit-input-placeholder,
input:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea:-ms-input-placeholder {
  	color: #ddd !important;
	font-family: 'NotoSansKR-Regular','NotoSansKR-Light','NotoSansKR-Medium','NotoSansKR-Bold','NotoSansKR-Black' !important;
	font-weight: 200 !important;
}

caption {
    height: 0px;
    text-indent: -9999px;
}
html, body {
    height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
legend {
    height: 1px;
    text-indent: -9999px;
}
a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
.wrap {
    width: 100%;
    height: 100%;
}

/* margin */
.mgt-0 {margin-top: 0 !important;}
.mgt-5 {margin-top: 5px !important}
.mgt-10 {margin-top: 10px !important}
.mgt-15 {margin-top: 15px !important}
.mgt-20 {margin-top: 20px !important}
.mgt-25 {margin-top: 25px !important}
.mgt-30 {margin-top: 30px !important}
.mgt-35 {margin-top: 35px !important}
.mgt-40 {margin-top: 40px !important}
.mgt-45 {margin-top: 45px !important}
.mgt-50 {margin-top: 50px !important}

.mgr-0 {margin-right: 0 !important;}
.mgr-5 {margin-right: 5px !important}
.mgr-10 {margin-right: 10px !important}
.mgr-15 {margin-right: 15px !important}
.mgr-20 {margin-right: 20px !important}
.mgr-25 {margin-right: 25px !important}
.mgr-30 {margin-right: 30px !important}
.mgr-35 {margin-right: 35px !important}
.mgr-40 {margin-right: 40px !important}
.mgr-45 {margin-right: 45px !important}
.mgr-50 {margin-right: 50px !important}

.mgb-0 {margin-bottom: 0 !important;}
.mgb-5 {margin-bottom: 5px !important}
.mgb-10 {margin-bottom: 10px !important}
.mgb-15 {margin-bottom: 15px !important}
.mgb-20 {margin-bottom: 20px !important}
.mgb-25 {margin-bottom: 25px !important}
.mgb-30 {margin-bottom: 30px !important}
.mgb-35 {margin-bottom: 35px !important}
.mgb-40 {margin-bottom: 40px !important}
.mgb-45 {margin-bottom: 45px !important}
.mgb-50 {margin-bottom: 50px !important}

.mgl-0 {margin-left: 0 !important;}
.mgl-5 {margin-left: 5px !important}
.mgl-10 {margin-left: 10px !important}
.mgl-15 {margin-left: 15px !important}
.mgl-20 {margin-left: 20px !important}
.mgl-25 {margin-left: 25px !important}
.mgl-30 {margin-left: 30px !important}
.mgl-35 {margin-left: 35px !important}
.mgl-40 {margin-left: 40px !important}
.mgl-45 {margin-left: 45px !important}
.mgl-50 {margin-left: 50px !important}

/* align */
.agn-c {text-align: center !important;}
.agn-l {text-align: left !important;}
.agn-r {text-align: right !important;}
.vertical {vertical-align: middle !important;}

/* font */
.fontRed {color: #DC143C !important;}

/* float */
.fl {float: left !important;}
.fr {float: right !important;}

/* clearfix */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* icon */

.userMenu a,
.mobileUserMenu a {
    display: block;
    line-height: 25px;
    font-weight: 300;
    text-indent: 26px;
}
.userMenu .login a {
    background: url(../../images/ico/ico_login.png) no-repeat center left;
}
.userMenu .join a {
    background: url(../../images/ico/ico_join.png) no-repeat center left;
}
.userMenu .logout a {
    background: url(../../images/ico/ico_logout.png) no-repeat center left;
}
.userMenu .mypage a {
    background: url(../../images/ico/ico_mypage.png) no-repeat center left;
}
.mobileUserMenu .login a {
    background: url(../../images/ico/ico_login_h.png) no-repeat center left;
}
.mobileUserMenu .join a {
    background: url(../../images/ico/ico_join_h.png) no-repeat center left;
}
.mobileUserMenu .logout a {
    background: url(../../images/ico/ico_logout_h.png) no-repeat center left;
}
.mobileUserMenu .mypage a {
    background: url(../../images/ico/ico_mypage_h.png) no-repeat center left;
}

header nav ul ul li a {
    background: url(../../images/ico/ico_menu_off.png) no-repeat 33% 15px;
}
header nav ul ul li:hover a {
    background: url(../../images/ico/ico_menu_on.png) no-repeat 33% 15px;
}

.quick .quickInfo ul li:nth-child(1) {
    background: url(../../images/ico/ico_quick_tel.png) no-repeat 23px center;
}
.quick .quickInfo ul li:nth-child(2) {
    background: url(../../images/ico/ico_quick_map.png) no-repeat 26px center;
}

/* width */
.w50-10 {width: calc(50% - 10px) !important;}
.w100-97 {width: calc(100% - 97px) !important;}
.w33-10 {width: calc(33.33% - 10px) !important;}
.w66 {width: 66.67% !important;}
.w20 {width: 20% !important;}
.w26 {width: 26.7% !important;}
.w30 {width: 30% !important;}
.w40 {width: 40% !important;}
.w50 {width: 50% !important;}
.w60 {width: 60% !important;}
.w70 {width: 70% !important;}
.w80 {width: 80% !important;}
.w90 {width: 90% !important;}
.w100 {width: 100% !important;}

/* text */
.underline:hover {
    text-decoration: underline;
}

/* ellipsis */

/* 한줄 자르기 */
.ellipsis1{
    display:inline-block;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis2{
    display:-webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    width: 280px;
    white-space: normal;
    line-height: 1.2em;
    height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* input, select */
.inputGroup {
    position: relative;
    width: 50%;
    vertical-align: middle;
}
.inputGroup.long {
    width: 100%;
}
.inputGroup::after {
    content: "";
    display: block;
    clear: both;
}
.inputGroup > * {
    float: left;
}
.inputText {
    padding: 10px 14px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    transition: .2s;
    outline: none;
}
.inputText:hover,
.inputText:focus {
    border: 1px solid #43599f;
}
input:disabled {
    background-color: #f3f3f3;
}
input:disabled:hover {
    border: 1px solid #c8c8c8;
}
select:disabled {
    background-color: #f3f3f3;
}
select:disabled:hover {
    border: 1px solid #c8c8c8;
}
.selectType {
    padding: 9px 14px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    transition: .2s;
    outline: none;
}
.selectType:hover,
.selectType:focus {
    border: 1px solid #43599f;
}
.callDash {
    display: inline-block;
    line-height: 41px;
}

/* table */
.tableTit {
	font-size: 20px;
	font-weight: 300;
	margin: 20px 0 15px;
	letter-spacing: -1px;
}
.tableType01 {
    width: 100%;
    border-top: 1px solid #43599f;
    font-size: 15px;
    border-spacing: 0;
}
.tableType01 tbody th {
    padding: 6px 16px;
    background-color: #f3f3f3;
    font-weight: 300;
    border-bottom: 1px solid #c8c8c8;
}
.tableType01 tbody th label {
    font-weight: 300;
}
.tableType01 tbody td {
    padding: 5px 16px;
    line-height: 39px;
    border-bottom: 1px solid #c8c8c8;
}
/**/
.tableType02 {
    width: 100%;
    table-layout: fixed;
    font-size: 0;
    border-spacing: 0;
    border-top: 1px solid #c8c8c8;
}
.tableType02 thead tr th {
    padding: 19px 10px;
    font-weight: 300;
    font-size: 15px;
    border-bottom: 1px solid #c8c8c8;
}
.tableType02 tbody tr td {
    padding: 5px 10px;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #c8c8c8;
    line-height: 45px;
}
.tableType02 tbody tr td .noticeTxt {
    font-weight: 400;
}
.tableType02 tbody tr:hover td {
    background-color: #f3f3f3;
}



.ellipsis {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ico_notice {
    display: block;
    width: 19px;
    height: 16px;
    background: url(../../images/ico/ico_noticeBest.png) no-repeat center;
    margin: 0 auto;
}
.attachments {
    display: block;
    width: 18px;
    height: 17px;
    background: url(../../images/ico/ico_attachments.png) no-repeat center;
    margin: 0 auto;
}
.new {
    display: inline-block;
    width: 34px;
    height: 15px;
    text-align: center;
    line-height: 13px;
    background-color: #DC143C;
    margin-left: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
}

.tableType03 {
    width: 100%;
    border-top: 1px solid #c8c8c8;
    table-layout: fixed;
    border-spacing: 0;
}
.tableType03 tbody tr th {
    background-color: #f3f3f3;
    border-bottom: 1px solid #c8c8c8;
    font-size: 16px;
    font-weight: 300;
}
.tableType03 tbody tr td {
    padding: 13px;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
    line-height: 25px;
    border-bottom: 1px solid #c8c8c8;
}
.tableType03 tbody tr td.tit {
    padding: 35px 15px;
    font-size: 25px;
    font-weight: 300;
}
.ico_attattachments {
    padding: 3px 0 3px 25px;
    background: url(../../images/ico/ico_attachments.png) no-repeat center left;
    font-size: 14px;
}
.ico_attattachments:hover {
    color: #43599f;
    text-decoration: underline;
}
.ico_date {
    padding: 3px 0 3px 22px;
    background: url(../../images/ico/ico_date.png) no-repeat center left;
    font-size: 14px;
}
.ico_user {
    padding: 3px 0 3px 22px;
    background: url(../../images/ico/ico_user.png) no-repeat center left;
    font-size: 14px;
}
.ico_tel {
    padding: 3px 0 3px 22px;
    background: url(../../images/ico/ico_tel.png) no-repeat center left;
    font-size: 14px;
}

/* pagination */
.paging {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.paging ul {
    display: flex;
}
.paging ul li {
    margin-right: 15px;
}
.paging ul li a {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid #c8c8c8;
    font-weight: 200;
    font-size: 15px;
    transition: .2s;
}
.paging ul li:hover a {
    border: 1px solid #43599f;
}
.paging ul li.on a {
    border: 1px solid #43599f;
    background-color: #43599f;
    color: #fff;
}

.paging ul li.pprev a,
.paging ul li.prev a,
.paging ul li.next a,
.paging ul li.nnext a {
    text-indent: -9999px;
}
.paging ul li.pprev a {
    background: url(../../images/ico/ico_pprev.png) no-repeat center;
}
.paging ul li.prev a {
    background: url(../../images/ico/ico_prev.png) no-repeat center;
}
.paging ul li.next a {
    background: url(../../images/ico/ico_next.png) no-repeat center;
}
.paging ul li.nnext a {
    background: url(../../images/ico/ico_nnext.png) no-repeat center;
}

/* dot */
.dot {
	position: relative;
}
.dot::after {
	content: "*";
	position: absolute;
	top: -2px;
	right: -10px;
	color: #DC143C;
	font-size: 19px;
}
/* text */
.leftText {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 13px;
    line-height: 18px;
}
.assistantText {
    display: block;
    margin-top: 4px;
    font-size: 13px;
    line-height: 18px;
}

/* btn */
.formBtn {
    display: inline-block;
    padding: 13.5px 20px;
    background-color: #333;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}
.formBtn:hover {
    background-color: #222;
}
.bigBlueBtn {
    display: block;
    width: 100%;
    padding: 23px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: #43599f;
    box-sizing: border-box;
    color: #fff;
}
.bigBlueBtn:hover {
    background-color: #2c3a68;
}
.bigGrayBtn {
    display: block;
    width: 100%;
    padding: 23px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: #333;
    box-sizing: border-box;
    color: #fff;
}
.bigGrayBtn:hover {
    background-color: #222;
}
.lineGrayBtn {
    display: block;
    padding: 13px 20px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    transition: .2s;
}
.lineGrayBtn:hover {
    border: 1px solid #555;
}
.searchBtn {
    display: block;
    width: 100%;
    height: 41px;
    background-color: #333;
    color: #fff;
    font-weight: 300;
    text-align: center;
    line-height: 41px;
}
.searchBtn:hover {
    background-color: #222;
}

/* checkbox */
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

.checkboxGroup {
    margin-right: 10px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    font-weight: 300;
    line-height: 20px;
    cursor: pointer;
    color: #333;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    background: #43599f url(../../images/ico/ico_check.png) no-repeat;
    background-position: 3px 3px;
    border: 1px solid #43599f;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.gridTable input[type="checkbox"]:checked,
.gridTable input[type="checkbox"]:not(:checked) {
    position: inherit !important;
    left: 0;
}
.gridTable input[type="checkbox"] {
	padding: 10px !important;
	border: 1px solid #ccc !important;
}

/* radio */
.radioGroup {
    margin-right: 10px;
    line-height: 56px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    font-weight: 300;
    line-height: 20px;
    cursor: pointer;
    color: #333;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #43599f;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
